/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------
            // |  ESC  |  1   |  2   |  3   |  4   |  5   |   6   |  7    |  8   |  9   |   0   | BSPC  |
            // |  TAB  |  Q   |  W   |  E   |  R   |  T   |   Y   |  U    |  I   |  O   |   P   |  \    |
            // | SHIFT |  A   |  S   |  D   |  F   |  G   |   H   |  J    |  K   |  L   |   ;   |  '    |
            // | CTRL  |  Z   |  X   |  C   |  V   |  B   |   N   |  M    |  ,   |  .   |   /   | ENTER |
            // |ADJUST | LCTL | LALT | LGUI | LOWR | SPACE| SPACE |  RAIS | LARW | DARW | UARW  | RARW  |


            bindings = <
                &mkp RCLK  &kp LC(V)  &kp LCTRL    &kp N3          &kp N4     &kp N5      &kp N6             &kp N7      &bt BT_SEL 0   &kp N9      &kp N0      &kp BSPC
                &mkp LCLK  &kp LC(X)  &kp ESC      &kp F4          &kp F5     &kp F6      &kp F7             &kp F8      &bt BT_CLR     &kp F10     &kp F11     &kp F12
                &mkp RCLK  &kp LC(Z)  &kp F1       &kp C           &kp D      &kp E       &kp F              &kp G       &bt BT_SEL 1   &kp I       &kp J       &kp K
                &mkp LCLK  &kp LC(C)  &kp F2       &mwh SCROLL_UP  &kp O      &kp P       &kp Q              &kp R       &bt BT_SEL 2   &kp T       &kp U       &kp V
                &mkp MCLK  &kp LC(Y)  &kp LS(F10)  &kp Z           &kp LS(1)  &kp LS(2)   &mwh SCROLL_DOWN   &kp LS(4)   &bt BT_SEL 3   &kp LS(6)   &kp LS(7)   &kp LS(8) 
            >;
        };
    };
};
